@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100vw;
}

.hero img {
    width: 99.5vw;
    height: 900px;
    filter: brightness(30%);
}

.logo {
    padding-left: 10vw;
    vertical-align: middle;
}

.logo img {
    padding: 0.5rem;
    height: 3rem;
    width: 120px;
}

.links {
    display: flex;
    vertical-align: middle;
    text-align: center;
}

.links a:hover {
    color: black;
}

.nav {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20vw;
    vertical-align: middle;
    background-color: #326eae;
    line-height: 4rem;
    width: 79.5vw;
}

.links a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin: 0 32px;
    vertical-align: middle;
    height: 5rem;
}

.cta {
    background: rgb(50,110,174);
    background: linear-gradient(149deg, rgba(50,110,174,1) 25%, rgba(40,107,179,1) 46%, rgba(31,101,176,1) 72%);
    color: white !important;
    padding: 8px;
    border-radius: 10px;
    font-size: 22px !important;
    text-decoration: none;
    align-items: center;
    align-self: center;
    margin: auto;
}

.cta:hover {
    filter: brightness(92%);
}

.herotext {
    position: absolute;
    top: 28vh;
    left: 35vw;
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.herotext a {
    width: 7rem;
}

.fourcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 2rem;
    width: 10vw;
}

.card img:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}

.about {
    width: 50vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.leftright {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about p {
    width: 30vw;
}

h1 {
    width: 50vw;
    text-align: center;
}

h2 {
    font-size: 32px;
}

.container {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
}

.rightcurtain {
    width: 70vw;
    background: rgb(50,110,174);
    background: linear-gradient(149deg, rgba(50,110,174,1) 25%, rgba(40,107,179,1) 46%, rgba(31,101,176,1) 72%);
    border-radius: 5px;
    color: white;
    -webkit-box-shadow: 10px 10px 38px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 38px -19px rgba(0,0,0,0.75);
box-shadow: 10px 10px 38px -19px rgba(0,0,0,0.75);
}

.rightcurtain h1 {
    margin: 10px auto 0 auto;
}

.ctaContainer {
    display: flex;
    justify-content: center;
}

.leftright2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftright2 div {
    margin-top: 200px;
    padding: 0 50px;
    width: 35vw;
}

.license, .hours {
    background-color: #C7DFF0;
}